<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Angularjs challenge</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

	<div class="container">
		<h1>Challenge 1:My Seasons</h1>
	    <div ng-controller="myCtrl">
	    	
		    <div ng-repeat="month in months | orderBy:'ordinal'" 
		    ng-class="{'winter':month.season=='winter',
		    			'spring':month.season=='spring',
						'summer':month.season=='summer',
						'fall':month.season=='fall'
					  }"  class="mo-css" >
		      	<div>
			      <p>{{month.english}}</p>
			      <p>French word: {{month.french}}</p>
			      <p>Number of Days: {{month.days}}</p>
		    	</div>
		  	</div>
	    </div>

	    <!-- Test sample angular controller -->
	    <h2>Testing...</h2><hr>
	    <div ng-controller="testCtrl">
	    	Two times <input ng-model="num"> equals {{double(num)}}
	    </div><hr>


	    <!-- FizzBuzz ctrl -->
		<h2>FizzBuzz Challeng</h2>
		<div ng-controller="fizzBuzzCtrl">
			
		<span ng-model="rockNum()">{{rockNum(numbers)}}</span>

		</div><hr>

		<!-- custom directives -->
		<h2>testing custom directives</h2>

			<my-widget>
				<p>Hello world</p>
			</my-widget>

	</div>

	
	

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>