body {
  /*margin-left: 10px;*/
  font-family: 'Roboto', sans-serif;
}
.container{
	margin: 0 auto;
	background-color: #fff;
	width: 650px;
	text-align: center;
	padding: 10px 10px 60px 10px;
}
.mo-css{
  border:1px solid #ddd;
  padding: 15px;
 }
.winter{
  background-color:#ff3dd4;
}
.fall{
  background-color:#ffcc33;
}
.summer{
  background-color:#cc6666;
}
.spring{
  background-color:#33ff00;
}